@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply overflow-x-hidden;
  }
  .main-transition {
    @apply transition-all duration-500 ease-in-out;
  }
  .no-select {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}
